body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    background-color: rgb(223, 8, 122);
    color: white;
    width: 100wh;
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer {
    height: 5vh;
    background-color: rgb(223, 8, 122);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

main {
    background-color: white;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}